<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csb.mapper.TeamMapper">

    <resultMap id="BaseResultMap" type="com.csb.pojo.Team">
            <id property="tid" column="tid" jdbcType="BIGINT"/>
            <id property="logTablename" column="log_tablename" jdbcType="VARCHAR"/>
            <result property="teamname" column="teamname" jdbcType="VARCHAR"/>
            <result property="teamAdmin" column="team_admin" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="tableName">t_team</sql>
    <sql id="Base_Column_List">
        tid,log_tablename,teamname,
        team_admin
    </sql>
    <select id="getByTeamAdmin" resultType="com.csb.pojo.Team">
        select <include refid="Base_Column_List"/>
        from <include refid="tableName"/>
        <where>
            team_admin = #{admin}
        </where>
        limit #{offset},500
    </select>
    <select id="getByUser" resultType="com.csb.pojo.Team">
        select <include refid="Base_Column_List"/>
        from <include refid="tableName"/>,<include refid="com.csb.mapper.TeamUsersMapper.tableName"/>
        <where>
            <include refid="com.csb.mapper.TeamUsersMapper.tableName"/>.rel_uid = #{uid}
            and
            <include refid="com.csb.mapper.TeamUsersMapper.tableName"/>.rel_tid = tid
        </where>
        limit #{offset},500
    </select>
</mapper>
