<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csb.mapper.TeamLogMapper">

    <resultMap id="BaseResultMap" type="com.csb.pojo.TeamLog">
        <id property="lid" column="lid" jdbcType="VARCHAR"/>
        <result property="relMid" column="rel_mid" jdbcType="BIGINT"/>
        <result property="time" column="time" jdbcType="TIMESTAMP"/>
        <result property="level" column="level" jdbcType="INTEGER"/>
        <result property="msg" column="msg" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        lid,rel_mid,time,
        level,msg
    </sql>
    <sql id="Basic_Select">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="tableName"/>
    </sql>

    <sql id="tableName">t_${tid}_log</sql>
    <insert id="insert" parameterType="com.csb.pojo.TeamLog">
        INSERT INTO
        <if test="tid > 0">
            t_${tid}_log
        </if>
        ( <include refid="Base_Column_List"/> ) VALUES ( #{lid},#{relMid},#{time},#{level},#{msg} )
    </insert>
    <update id="createTable">
        CREATE TABLE IF NOT EXISTS
        <include refid="tableName"/>
        (
        `lid` varchar(255) NOT NULL,
        `rel_mid` bigint DEFAULT NULL,
        `time` datetime NOT NULL,
        `level` int NOT NULL,
        `msg` varchar(255) DEFAULT NULL,
        PRIMARY KEY (`lid`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
    </update>
    <delete id="dropTable">
        drop table if Exists
        <include refid="tableName"/>
        ;
    </delete>
    <select id="getByMid" resultType="com.csb.pojo.TeamLog">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="tableName"/>
        <where>
            rel_mid = #{mid}
        </where>

        limit #{offset},500
    </select>
    <select id="getByMsg" resultType="com.csb.pojo.TeamLog">
        <include refid="Basic_Select"/>
        <where>
            msg like concat('%',#{msg},'%')
        </where>

        limit #{offset},500
    </select>
    <select id="getByLevel" resultType="com.csb.pojo.TeamLog">
        select <include refid="Base_Column_List"/>
        from <include refid="tableName"/>
        <where>
            level = #{level}
        </where>

        limit #{offset},500
    </select>
    <select id="getByTime" resultType="com.csb.pojo.TeamLog">
        select <include refid="Base_Column_List"/>
        from <include refid="tableName"/>
        <where>
            time between #{sTime} and #{eTime}
        </where>

        limit #{offset},500
    </select>
</mapper>
