<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csb.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.csb.pojo.User">
            <id property="uid" column="uid" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,username,
        nickname,description
    </sql>
    <sql id="tableName">t_user</sql>
<!--    <update id="updateById">-->
<!--        update <include refid="tableName"/>-->
<!--        <set>-->
<!--            username = #{username},-->
<!--            nickname = #{nickname},-->
<!--            description = #{description}-->
<!--        </set>-->
<!--        <where>-->
<!--            uid = #{uid}-->
<!--        </where>-->
<!--    </update>-->
<!--    <insert id="insert">-->
<!--        insert into <include refid="tableName"/>-->
<!--        (uid,username,nickname,description) values(#{uid},#{username},#{nickname},#{description});-->
<!--    </insert>-->
    <select id="getByUsername" resultType="com.csb.pojo.User">
        select <include refid="Base_Column_List"/>
        from <include refid="tableName"/>
        <where>
            username = #{name}
        </where>
    </select>
    <select id="getByRole" resultType="com.csb.pojo.User">
        select <include refid="Base_Column_List"/>
        from <include refid="tableName"/>,<include refid="com.csb.mapper.UserRoleMapper.tableName"/>
        <where>
            <include refid="com.csb.mapper.UserRoleMapper.tableName"/>.rel_user_id = uid
            and
            <include refid="com.csb.mapper.UserRoleMapper.tableName"/>.rel_role_id = #{rid}
        </where>
        limit #{offset},500
    </select>
    <select id="getByTid" resultType="com.csb.pojo.User">
        select <include refid="Base_Column_List"/>
        from <include refid="tableName"/> , <include refid="com.csb.mapper.TeamUsersMapper.tableName"/>
        <where>
            <include refid="com.csb.mapper.TeamUsersMapper.tableName"/>.rel_tid = #{tid}
            and
            <include refid="com.csb.mapper.TeamUsersMapper.tableName"/>.rel_uid = uid
        </where>
        limit #{offset},500
    </select>
    <select id="getByUsernameAndPassword" resultType="com.csb.pojo.User">
        select <include refid="Base_Column_List"/>
        from <include refid="tableName"/>
        <where>
            username = #{name}
            and
            password = #{pwd}
        </where>
        limit 1;
    </select>
</mapper>
