<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csb.mapper.UserRoleMapper">

    <resultMap id="BaseResultMap" type="com.csb.pojo.UserRole">
            <result property="relUserId" column="rel_user_id" jdbcType="BIGINT"/>
            <result property="relRoleId" column="rel_role_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        rel_user_id,rel_role_id
    </sql>
    <sql id="tableName">t_user_role</sql>
    <delete id="deleteByRelRoleIdAndRelRoleId">
        delete from <include refid="tableName"/>
        <where>
            rel_user_id = #{uid}
            and
            rel_role_id = #{rid}
        </where>
    </delete>
    <select id="getAllByRoleId" resultType="com.csb.pojo.UserRole">
        select <include refid="Base_Column_List"/>
        from <include refid="tableName"/>
        <where>
            rel_role_id = #{rid}
        </where>
        limit #{offset},500
    </select>
    <select id="getAllByUserId" resultType="com.csb.pojo.UserRole">
        select <include refid="Base_Column_List"/>
        from <include refid="tableName"/>
        <where>
            rel_user_id = #{uid}
        </where>
        limit #{offset},500
    </select>
    <select id="getByUserIdAndRoleId" resultType="com.csb.pojo.UserRole">
        select <include refid="Base_Column_List"/>
        from <include refid="tableName"/>
        <where>
            rel_user_id = #{uid}
            and
            rel_role_id = #{rid}
        </where>
    </select>
</mapper>
